:root, .MuiPaper-root {
  --white: #fff;
  --black: #000;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --red-500: #f75a68;

  --pallet-1: #5135fb;
  --pallet-5: #000036;

}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-100);
}

#root {
  max-height: 100%;
  max-width: 100%;
}

*, .wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131215;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
Button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
